*{
    box-sizing: border-box;
}
::selection {
  background: #337ab7;
  color: #fff;
}
::-moz-selection {
  background: #337ab7;
  color: #fff;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 25px 0 0 0;
    color: #333;
}
header{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150;
    padding: 15px 50px;
}
header:after{
    content: "";
    display: block;
    clear: both;
}
header h1{
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    float: left;
}
header a{
    float: right;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    margin-right: 15px;
}
header .fa{
    margin-right: 3px;
}

.settings, .sharebox{
    width: 100%;
    max-width: 350px;
    background: rgba(0,0,0,0.85);
    position: fixed;
    top: 50px;
    right: -350px;
    bottom: 0;
    z-index: 110;
    transition: 200ms ease-out 50ms;
    padding: 40px;
}
.settings.visible, .sharebox.visible{
    right: 0;
}
.settings h2, .sharebox h2{
    color: #fff;
    font-size: 15px;
    margin: 0 0 10px 0;
    font-weight: normal;
}
.settings h2 .fa, .sharebox h2 .fa{
    margin-right: 3px;
    font-weight: normal;
}

.settings ul{
    color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;
    border-top: 1px solid #444;
}
.settings ul li, .sharebox a{
    cursor: pointer;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #444;
    color: #ddd;
    font-size: 14px;
    text-decoration: none;
}
.settings ul li:hover, .sharebox a:hover{
    background: rgba(255,255,255,0.05);
}
.settings ul li.active{
    background: rgba(255,255,255,0.15);
    color: #fff;
}
.sharebox a .fa{
    width: 25px;
}

.settings .btn{
    cursor: pointer;
    display: inline-block;
    background: #337ab7;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
}
.settings .btn:hover{
    background: #4087C4;
}

.overlay{
    display: none;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #000;
    opacity: 0.7;
    z-index: 195;
}

.element-panel{
    display: none;
    width: 100%;
    max-width: 800px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 80px;
    bottom: 120px;
    margin-left: -400px;
    z-index: 200;
    padding: 40px;
    overflow-y: scroll;
}
.element-panel h2{
    margin: 0 0 10px 0;
}
.element-panel h2 span{
    color: #aaa;
}
.element-panel p{
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Merriweather', serif;
}
.element-panel p:last-of-type{
    margin: 0;
}
.element-panel p a{
    color: #337ab7;
    text-decoration: none;
}
.element-panel p a:hover{
    text-decoration: underline;
}
.element-panel .fa-close, .element-panel .nextelement, .element-panel .prevelement{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}
.element-panel .fa-close:hover{
    color: #d9534f;
}

.element-panel .fa-close{
    top: 10px;
    right: 10px;
}
.element-panel .nextelement{
    top: 11px;
    right: 40px;
}
.element-panel .prevelement{
    top: 11px;
    right: 62px;
}
.element-panel .nextelement:hover, .element-panel .prevelement:hover{
    color: #777;
}


.element-panel .wiki-content{
    border-left: 5px solid #ccc;
    padding-left: 20px;
}
.element-panel .wiki-content img{
    float: right;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
}
.element-panel .wiki-content .info{
    margin-bottom: 20px;
    background: #fafafa;
    padding: 0;
    font-size: 13px;
}
.element-panel .wiki-content .info:after{
    content: "";
    clear: both;
    display: block;
}
.element-panel .wiki-content .info span{
    width: 25%;
    float: left;
    text-align: center;
    padding: 10px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
.element, .spacer, .Lanthanoids, .Actinoids{
    width: 5.55555%;
    float: left;
    background: #fafafa;
    text-align: center;
    padding: 15px 0 8px 0;
    border: 1px solid #fafafa;
    position: relative;
    transition: 200ms;
    top: 0;
    overflow: hidden;
    min-height: 90px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.element{
    cursor: help;
}
.element *{
    cursor: help;
}
.element:before{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 1px solid rgba(0,0,0,0.1);
    content: "";
    display: block;
}
/*.element:after{
    position: absolute;
    top: 20%;
    left: 40%;
    background: #fff;
    opacity: 0.2;
    transform: rotate(30deg);
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    z-index: 1;
}*/
.element.highlight:before{
    border: 1px solid rgba(0,0,0,0.3);
}
.Lanthanoids, .Lanthanoids *, .Actinoids, .Actinoids *{
    cursor: default;
}

.container[data-theme="2016-clean"] .element[data-category="Nonmetal"], .key li[data-category="Nonmetal"] span{ background-color: #c0d7f0; }
.container[data-theme="2016-clean"] .element[data-category="Nonmetal"].highlight{ background-color: #CDE4FD; }
.container[data-theme="2016-clean"] .element[data-category="Noble Gas"], .key li[data-category="Noble Gas"] span{ background-color: #e1cfe5; }
.container[data-theme="2016-clean"] .element[data-category="Noble Gas"].highlight{ background-color: #EEDCF2; }
.container[data-theme="2016-clean"] .element[data-category="Alkali Metal"], .key li[data-category="Alkali Metal"] span{ background-color: #f7aac0; }
.container[data-theme="2016-clean"] .element[data-category="Alkali Metal"].highlight{ background-color: #FFB7CD; }
.container[data-theme="2016-clean"] .element[data-category="Alkaline Earth"], .key li[data-category="Alkaline Earth"] span{ background-color: #ffdca9; }
.container[data-theme="2016-clean"] .element[data-category="Alkaline Earth"].highlight{ background-color: #FFE9B6; }
.container[data-theme="2016-clean"] .element[data-category="Metalloid"], .key li[data-category="Metalloid"] span{ background-color: #93d9f5; }
.container[data-theme="2016-clean"] .element[data-category="Metalloid"].highlight{ background-color: #A0E6FF; }
.container[data-theme="2016-clean"] .element[data-category="Halogen"], .key li[data-category="Halogen"] span{ background-color: #e0e0f0; }
.container[data-theme="2016-clean"] .element[data-category="Halogen"].highlight{ background-color: #EDEDFD; }
.container[data-theme="2016-clean"] .element[data-category="Transition Metal"], .key li[data-category="Transition Metal"] span{ background-color: #f7f6cc; }
.container[data-theme="2016-clean"] .element[data-category="Transition Metal"].highlight{ background-color: #FFFFD9; }
.container[data-theme="2016-clean"] .element[data-category="Post-Transition Metal"], .key li[data-category="Post-Transition Metal"] span{ background-color: #d4ebd8; }
.container[data-theme="2016-clean"] .element[data-category="Post-Transition Metal"].highlight{ background-color: #E1F8E5; }
.container[data-theme="2016-clean"] .element[data-category="Lanthanoid"], .Lanthanoids, .key li[data-category="Lanthanoid"] span{ background-color: #fce0ed; }
.container[data-theme="2016-clean"] .element[data-category="Lanthanoid"].highlight, .Lanthanoids.highlight{ background-color: #FFEDFA; }
.container[data-theme="2016-clean"] .element[data-category="Actinoid"], .Actinoids, .key li[data-category="Actinoid"] span{ background-color: #fabfe2; }
.container[data-theme="2016-clean"] .element[data-category="Actinoid"].highlight, .Actinoids.highlight{ background-color: #FFCCEF; }

.container[data-theme="minimalist"] .key li span{
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
}
.container[data-theme="minimalist"] .element:before{
    border: 1px solid rgba(0,0,0,0.3);
}
.container[data-theme="minimalist"] .element:hover:before{
    border: 1px solid rgba(0,0,0,0.5);
}
.container[data-theme="minimalist"] .element{
    background: #f0f0f0;
}
.container[data-theme="minimalist"] .Lanthanoids, .container[data-theme="minimalist"] .Actinoids{
    background: #f0f0f0;
}

.element h3{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}
.element .atomic-number{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 11px;
    letter-spacing: -0.5px;
    z-index: 5;
}
.element .name{
    display: block;
    font-size: 11px;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 5;
}
.element .mass{
    display: block;
    font-size: 11px;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 5;
}
.element.fadeout{
    opacity: 0.3;
}
.spacer:not(.label){
    visibility: hidden;
}
.spacer.label{
    font-size: 11px;
    font-weight: bold;
    padding-top: 65px;
    cursor: default;
}
.spacer.label.row{
    padding-top: 37px;
    text-align: right;
    padding-right: 9px;
}
.spacer.show{
    visibility: visible;
    overflow: visible;
}
.element[data-group="Lanthanoids"], .element[data-group="Actinoids"]{
    margin-top: -70px;
}

.key{
    position: absolute;
    top: 89px;
    left: 30%;
    width: 960%;
    z-index: 100;
    background: #fff;
    text-align: left;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px 20px;
}

.key ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #555;
    font-size: 14px;
    line-height: 26px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

.key ul li{
    cursor: default;
}
.key ul li:hover{
    text-decoration: underline;
}

.key ul li span{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: red;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,0.1);
}

footer{
    font-size: 14px;
    color: #aaa;
    clear: both;
    position: relative;
    top: -30px;
    text-align: center;
    margin-bottom: 10px;
}
footer p{
    margin: 0;
}
footer a{
    color: #777;
    cursor: pointer;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

@media (max-width:1400px){

    body{
        padding: 0 10px;
    }

    header{
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width:1300px){

    .element, .spacer, .Lanthanoids, .Actinoids{
        min-height: 80px;
    }

    .element .name{
        display: none;
    }

    .spacer.label{
        padding-top: 55px;
    }
    .spacer.label.row{
        padding-top: 32px;
    }


    .key{
        top: 79px;
        padding: 5px 15px;
        width: 970%;
    }

    .key ul{
        font-size: 13px;
    }

    .key ul li span{
        width: 15px;
        height: 15px;
        top: 3px;
    }

}

@media (max-width:1000px){

    .element h3{
        font-size: 20px;
    }

    .element, .spacer, .Lanthanoids, .Actinoids{
        padding-top: 20px;
        min-height: 73px;
    }

    .spacer.label{
        padding-top: 48px;
    }
    .spacer.label.row{
        padding-top: 27px;
    }

    .element .atomic-number{
        right: 5px;
        text-align: center;
    }

    .element .mass{
        font-size: 10px;
    }

    .key{
        top: 73px;
    }

}

@media (max-width:800px){

    body{
        padding-top: 60px;
    }

    .spacer{
        display: none;
    }

    .element{
        display: block;
        float: none;
        width: 100%;
        padding: 20px;
        min-height: 0;
    }

/*    .element:after{
        left: 0;
        opacity: 0.15;
    }*/

    .element .name{
        display: block;
        position: static;
        float: left;
        font-size: 24px;
    }

    .element[data-group="Lanthanoids"], .element[data-group="Actinoids"]{
        margin-top: inherit;
    }

    .Lanthanoids, .Actinoids{
        display: none;
    }

    .element .atomic-number{
        right: auto;
    }

    .element h3{
        font-size: 24px;
        float: left;
        text-align: left;
        width: 60px;
        opacity: 0.8;
    }

    .element .mass{
        float: right;
        font-size: 24px;
        position: static;
    }

    footer{
        top: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media (max-width:400px){

    .element{
        padding: 20px 10px;
    }

    .element .name{
        font-size: 18px;
    }

    .element h3{
        font-size: 18px;
    }

    .element .mass{
        font-size: 18px;
    }

    header h1{
        font-size: 13px;
    }

    header .togglemenu{
        font-size: 13px;
    }

    .settings, .sharebox{
        max-width: 100%;
        top: 46px;
        padding: 20px;
    }

}

@media (max-width: 820px){

    .element-panel{
        max-width: calc(100% - 20px);
        left: 10px; top: 10px; right: 10px; bottom: 10px;
        margin: 0;
    }

}

@media (max-width: 450px){

    .element-panel{
        padding: 40px 10px;
    }

}

@media (max-width: 700px){

    .element-panel .wiki-content img{
        max-width: 100%;
        margin: 0 0 20px 0;
    }

    header h1{
        display: none;
    }

}

section.followme{
    background: #fb4f4f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 0;
    text-align: center;
    margin: 0 -10px;
}

section.followme a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

section.followme a:hover{
    text-decoration: none;
    opacity: 0.7;
}
